{% extends "layout.html" %}

{% block title %}
    Preguntas de seguridad
{% endblock %}

{% block main %}
{% if invalidId %}
<p class="error">{{ invalidId }}</p>
{% endif %}
{% if invalidConfirm %}
<p class="error">{{ invalidConfirm }}</p>
{% endif %}
<h5 class="info">Rellena los campos para crear una nueva contraseña</h5>
<br>
<form action="/new_password" method="post" class="registForm centered">
    <div class="form-group registForm">
        <input autocomplete="off" class="form-control fullWidth" type="number" name="id" placeholder="Cédula de identidad"
         required oninvalid="this.setCustomValidity('Campo obligatorio')" oninput="setCustomValidity('')">
    </div>
    <div class="form-group registForm">
        <input autocomplete="off" class="form-control fullWidth" type="password" name="newPass" placeholder="Contraseña de al menos 6 dígitos" minlength="6"
         required oninvalid="this.setCustomValidity('Indica una contraseña de al menos 6 dígitos')" oninput="setCustomValidity('')">
    </div>
    <div class="form-group registForm">
        <input autocomplete="off" class="form-control fullWidth" type="password" name="confirmation" placeholder="Confirma la nueva contraseña"
        required oninvalid="this.setCustomValidity('Campo obligatorio')" oninput="setCustomValidity('')">
    </div>
    <button class="btn btn-primary centered" type="submit">Aceptar</button>
</form>
{% endblock %}

